
App_Data/JobWeb.mdf
App_Data/JobWeb_log.ldf
Bin/release/JobWebApi.dll
Bin/release/JobWebApi.pdb
obj/Release/TransformWebConfig/transformed/Web.config
obj/Release/TransformWebConfig/original/Web.config
obj/Release/TransformWebConfig/assist/Web.config
obj/Release/Package/PackageTmp/Web.config
obj/Release/Package/PackageTmp/Views/web.config
obj/Release/Package/PackageTmp/Views/Shared/Error.vbhtml
obj/Release/Package/PackageTmp/Views/Shared/_Layout.vbhtml
obj/Release/Package/PackageTmp/Views/Master/Index.vbhtml
obj/Release/Package/PackageTmp/Views/JobOrder/ShowJob.vbhtml
obj/Release/Package/PackageTmp/Views/JobOrder/CreateJob.vbhtml
obj/Release/Package/PackageTmp/Views/Config/Index.vbhtml
obj/Release/Package/PackageTmp/Views/_ViewStart.vbhtml
obj/Release/Package/PackageTmp/Scripts/umd/popper.min.js.map
obj/Release/Package/PackageTmp/Scripts/umd/popper.min.js
obj/Release/Package/PackageTmp/Scripts/umd/popper.js.map
obj/Release/Package/PackageTmp/Scripts/umd/popper.js
obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.min.js.map
obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.min.js
obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.js.map
obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.js
obj/Release/Package/PackageTmp/Scripts/README.md
obj/Release/Package/PackageTmp/Scripts/popper.min.js.map
obj/Release/Package/PackageTmp/Scripts/popper.min.js
obj/Release/Package/PackageTmp/Scripts/popper.js.map
obj/Release/Package/PackageTmp/Scripts/popper.js
obj/Release/Package/PackageTmp/Scripts/popper-utils.min.js.map
obj/Release/Package/PackageTmp/Scripts/popper-utils.min.js
obj/Release/Package/PackageTmp/Scripts/popper-utils.js.map
obj/Release/Package/PackageTmp/Scripts/popper-utils.js
obj/Release/Package/PackageTmp/Scripts/modernizr-2.8.3.js
obj/Release/Package/PackageTmp/Scripts/modernizr-2.6.2.js
obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.min.js
obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.js
obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.min.map
obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.min.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.min.map
obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.min.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.2.1.slim.min.map
obj/Release/Package/PackageTmp/Scripts/jquery-3.2.1.slim.min.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.2.1.slim.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.2.1.min.map
obj/Release/Package/PackageTmp/Scripts/jquery-3.2.1.min.js
obj/Release/Package/PackageTmp/Scripts/jquery-3.2.1.js
obj/Release/Package/PackageTmp/Scripts/Func/util.js
obj/Release/Package/PackageTmp/Scripts/Func/combo.js
obj/Release/Package/PackageTmp/Scripts/esm/popper.min.js.map
obj/Release/Package/PackageTmp/Scripts/esm/popper.min.js
obj/Release/Package/PackageTmp/Scripts/esm/popper.js.map
obj/Release/Package/PackageTmp/Scripts/esm/popper.js
obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.min.js.map
obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.min.js
obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.js.map
obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.semanticui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.semanticui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.jqueryui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.jqueryui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.foundation.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.foundation.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.bootstrap4.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.bootstrap4.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.bootstrap.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/responsive.bootstrap.js
obj/Release/Package/PackageTmp/Scripts/DataTables/jquery.dataTables.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/jquery.dataTables.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.uikit.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.uikit.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.semanticui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.semanticui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.select.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.select.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.scroller.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.scroller.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.rowReorder.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.rowReorder.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.rowGroup.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.rowGroup.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.responsive.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.responsive.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.material.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.material.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.keyTable.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.keyTable.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.jqueryui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.jqueryui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.foundation.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.foundation.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.fixedHeader.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.fixedHeader.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.fixedColumns.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.fixedColumns.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.colReorder.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.colReorder.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.buttons.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.buttons.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.bootstrap4.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.bootstrap4.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.bootstrap.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.bootstrap.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.autoFill.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/dataTables.autoFill.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.semanticui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.semanticui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.print.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.print.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.jqueryui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.jqueryui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.html5.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.html5.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.foundation.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.foundation.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.flash.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.flash.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.colVis.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.colVis.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.bootstrap4.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.bootstrap4.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.bootstrap.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/buttons.bootstrap.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.semanticui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.semanticui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.jqueryui.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.jqueryui.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.foundation.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.foundation.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.bootstrap4.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.bootstrap4.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.bootstrap.min.js
obj/Release/Package/PackageTmp/Scripts/DataTables/autoFill.bootstrap.js
obj/Release/Package/PackageTmp/Scripts/Data/job.txt
obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js.map
obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
obj/Release/Package/PackageTmp/Scripts/bootstrap.js.map
obj/Release/Package/PackageTmp/Scripts/bootstrap.js
obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.min.js.map
obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.min.js
obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.js.map
obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.js
obj/Release/Package/PackageTmp/index.html
obj/Release/Package/PackageTmp/Global.asax
obj/Release/Package/PackageTmp/Content/Site.css
obj/Release/Package/PackageTmp/Content/jquery.datatables.min.css
obj/Release/Package/PackageTmp/Content/bootstrap.min.css.map
obj/Release/Package/PackageTmp/Content/bootstrap.min.css
obj/Release/Package/PackageTmp/Content/bootstrap.css.map
obj/Release/Package/PackageTmp/Content/bootstrap.css
obj/Release/Package/PackageTmp/Content/bootstrap-reboot.min.css.map
obj/Release/Package/PackageTmp/Content/bootstrap-reboot.min.css
obj/Release/Package/PackageTmp/Content/bootstrap-reboot.css.map
obj/Release/Package/PackageTmp/Content/bootstrap-reboot.css
obj/Release/Package/PackageTmp/Content/bootstrap-grid.min.css.map
obj/Release/Package/PackageTmp/Content/bootstrap-grid.min.css
obj/Release/Package/PackageTmp/Content/bootstrap-grid.css.map
obj/Release/Package/PackageTmp/Content/bootstrap-grid.css
obj/Release/Package/PackageTmp/bin/WebGrease.dll
obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Razor.dll
obj/Release/Package/PackageTmp/bin/System.Web.WebPages.dll
obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Deployment.dll
obj/Release/Package/PackageTmp/bin/System.Web.Razor.dll
obj/Release/Package/PackageTmp/bin/System.Web.Optimization.dll
obj/Release/Package/PackageTmp/bin/System.Web.Mvc.dll
obj/Release/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
obj/Release/Package/PackageTmp/bin/System.Web.Http.dll
obj/Release/Package/PackageTmp/bin/System.Web.Helpers.dll
obj/Release/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.XDocument.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XmlDocument.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.ReaderWriter.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.ValueTuple.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Threading.Thread.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Text.Encoding.CodePages.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Principal.Windows.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Primitives.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Encoding.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Claims.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Security.AccessControl.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Pipes.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Compression.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.Process.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Console.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
obj/Release/Package/PackageTmp/bin/roslyn/System.AppContext.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Win32.Primitives.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
obj/Release/Package/PackageTmp/bin/JobWebApi.xml
obj/Release/Package/PackageTmp/bin/JobWebApi.pdb
obj/Release/Package/PackageTmp/bin/JobWebApi.dll
obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.pdb
obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.dll
obj/Release/JobWebApi.vbprojResolveAssemblyReference.cache
obj/Release/JobWebApi.vbproj.FileListAbsolute.txt
obj/Release/JobWebApi.pdb
obj/Release/JobWebApi.dll
obj/Release/_WPPLastBuildInfo.txt
Bin/release/JobWebApi.pdb
Bin/release/JobWebApi.dll
*.cache
obj/Release/JobWebApi.vbprojResolveAssemblyReference.cache
obj/Release/JobWebApi.dll
obj/Release/JobWebApi.pdb
obj/Release/JobWebApi.vbprojResolveAssemblyReference.cache
.vs/JobWebApi/v15/.suo
Bin/release/JobWebApi.dll
Bin/release/JobWebApi.pdb
obj/Release/JobWebApi.dll
obj/Release/JobWebApi.pdb
obj/Release/JobWebApi.vbprojResolveAssemblyReference.cache
.vs/JobWebApi/v15/Server/sqlite3/storage.ide-shm
.vs/JobWebApi/v15/Server/sqlite3/storage.ide-wal
obj/Debug/DesignTimeResolveAssemblyReferences.cache
