.panel-body {
    background-color: papayawhip;
}

.nav:after,
.nav:before {
    content: "";
    display: table;
}

.nav:after {
    clear: both;
    overflow: hidden;
}

.nav {
    zoom: 1;
    margin-left: 20px;
}

    .nav li {
        list-style: none outside none;
        float: left;
        position: relative;
    }

    .nav .active {
        z-index: 3;
    }

    .nav li:before,
    .nav li:after,
    .nav a:before,
    .nav a:after {
        content: "";
        position: absolute;
        bottom: 0;
    }

    .nav a {
        float: left;
        padding: 10px 40px;
        text-decoration: none;
        color: grey;
        background: lightgrey;
        border-radius: 10px 10px 0 0;
    }

    .nav .active a {
        background: grey;
        color: wheat;
    }

        .nav .active a:before,
        .nav .active a:after {
            background: beige;
        }

    .nav a:before {
        left: -20px;
    }

    .nav a:after {
        right: -20px;
    }

    .nav .active:before,
    .nav .active:after {
        z-index: 1;
        background: grey;
    }

.tab-content {
    background: lavender;
    padding: 20px;
}

.table {
    background-color: white;
    width:100% !important;
    border:solid;
    border-width:1px;
}
.table th {
    background-color:lightblue;
}

.modal {
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    background-color: lavender !important;
}